include py-src/data_formulator/dist/*
recursive-include py-src/data_formulator/dist/assets *
recursive-include py-src/data_formulator/dist/demos *
recursive-include py-src/data_formulator/data_loader/guides *.md
global-exclude .DS_Store
exclude py-src/examples
